<ion-view view-title="Bar Roulette">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Starting Location</div>
      <div class="item item-body">
        <input class="input" type="text" id='near' placeholder='Enter Address'>
        <div class="info">e.g.(San Francisco or New York, NY or<br> 10 21st St. New York, Ny)</div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Max. Distance Willing To Travel</div>
      <div class="item item-body">
        <input class="input" type="text" id='distance' placeholder='Enter Miles'>
        <div class="info">Maximum 62 Miles</div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">How Expensive Do You Want Your Bar?</div>
      <div class="item item-body">
        <input class="input" type="text" id='bar_price' placeholder='Enter Numbers 1-4'>
        <div class="info">On a Scale of 1-4 e.g.(1 or 3,4 or 1,2,3,4) <br><b>1</b> = Cheap <b>4</b> = Expensive</div>
      </div>
    </div>
    <button id='search'>Spin to Win</button>
  </ion-content>
</ion-view>
